@import "tailwindcss";

html {
  background-color: #161616;
  color: #ffffff;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Playfair Display", serif;
  }
}
